<launch>

  <include file="$(find jsk_interactive_test)/launch/interactive_test.launch">
    <arg name="MAKE_INTERACTIVE_MARKER_ARROW" value="false" />
    <arg name="LAUNCH_RVIZ_WITH_DEFAULT_CONFIG" value="false" />
    <arg name="UI_TYPE" value="trackpoint" />
  </include>
  <include file="$(find joy_mouse)/launch/trackpoint.launch" />

  <node pkg="jsk_joy" type="nanopad_joy.py" name="nanopad_joy" args="3"/>
  <!-- <node pkg="jsk_joy" type="nanokontrol_joy.py" name="nanokontrol_joy" args="3"/> -->

  <node pkg="jsk_interactive_test" type="trackpoint_controller.py" name="trackpoint_controller" output="screen"/>

  <node pkg="rviz" type="rviz" name="side_view_rviz"
        args="-d $(find jsk_interactive_test)/launch/side_view.rviz" respawn="true"/>

  <node pkg="rviz" type="rviz" name="top_view_rviz"
        args="-d $(find jsk_interactive_test)/launch/top_view.rviz" respawn="true"/>

  <!-- <node pkg="jsk_interactive_test" type="trackpoint_align_windows" name="trackpoint_align_windows" /> -->

</launch>
