#!/usr/bin/env python

# set up parameters that we care about
PACKAGE = 'jsk_interactive_marker'

try:
    import imp
    imp.find_module(PACKAGE)
    from dynamic_reconfigure.parameter_generator_catkin import *;
except:
    import roslib; roslib.load_manifest(PACKAGE)
    from dynamic_reconfigure.parameter_generator import *;

from math import pi

gen = ParameterGenerator ()
orientation_enum = gen.enum([gen.const("INHERIT", int_t, 0, "INHERIT"),
                      gen.const("FIXED", int_t, 1, "FIXED"),
                             gen.const("VIEW_FACING", int_t, 2, "VIEW_FACING")],
                      "orientation")

gen.add("display_interactive_manipulator",   bool_t,   0, "Display Interactive rotate and translate manipulator",  True)
gen.add("interactive_manipulator_orientation", int_t, 0, "interactive_manipulator_orientation", 0, 0, 2,
        edit_method = orientation_enum)
exit (gen.generate (PACKAGE, "jsk_interactive_marker", "InteractiveSetting"))
