<launch>
  <include file="$(find jsk_interactive_marker)/launch/urdf_model_markers.launch">
    <arg name="models" value="$(find jsk_interactive_marker)/launch/models/atlas-real.yaml"/>
  </include>

  <node pkg="roseus" type="roseus" name="eus_joint" args="$(find jsk_interactive)/euslisp/joint_marker_control/atlas-joint.l"/>

  <node pkg="rviz" type="rviz" name="rviz_for_atlas" args="-d $(find jsk_interactive_marker)/launch/atlas_joint_marker.rviz"/>
</launch>