<launch>
  <arg name="origin_tf" default="/r_gripper_tool_frame"/>
  <arg name="dummy_camera_name" default="$(anon dummy_carmera)"/>
  <arg name="tf_pose" default="0 0 1 1.5708 3.1416 0"/>
  
  <node pkg="jsk_interactive_marker" type="dummy_camera.py"
	name="$(arg dummy_camera_name)">
    <param name="frame_id" value="$(arg dummy_camera_name)"/>
  </node>

  <node pkg="tf" type="static_transform_publisher"
	name="$(arg dummy_camera_name)_tf"
	args="$(arg tf_pose) $(arg origin_tf) $(arg dummy_camera_name) 100"/>
</launch>
