<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_description)/robots/pr2.urdf.xacro'" />
  
  <node pkg="robot_state_publisher" type="state_publisher" name="pr2_state_publisher" />
  <node pkg="tf" type="static_transform_publisher" name="map_tf_publisher"
	args="0 0 0 0 0 0 /map /odom_combined 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_tf_publisher"
	args="0 0 0 0 0 0 /odom_combined /base_footprint 1000"/>

</launch>