<launch>
  <arg name="ROBOT" default="PR2"/>
  <arg name="SIM" default="true"/>

  <arg name="models" default="$(find jsk_interactive_marker)/launch/models/room73b2.yaml" />

  <group if="$(arg SIM)">
    <machine name="localhost" address="localhost" />
    <include file="$(find jsk_maps)/launch/start_map_eng2.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_tf"
	  args="0 0 0 0 0 0 /map /base_footprint 1000"/>
  </group>

  <include file="$(find jsk_interactive_marker)/launch/urdf_model_markers.launch">
    <arg name="models" value="$(arg models)"/>
  </include>

  <node pkg="roseus" type="roseus" name="robot_actions_sample" args="$(find jsk_interactive_marker)/euslisp/robot-actions.l" output="screen">
    <param name="robot" value="$(arg ROBOT)"/>
    <param name="test" value="true"/>
    <param name="one_click_grasp" value="true"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz"
	args="-d $(find jsk_interactive_marker)/config/robot_actions_sample.rviz"
	respawn="true"/>
</launch>